/* External fonts familys form google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Edu+TAS+Beginner:wght@400;500&family=Kalam:wght@300&family=Kanit:ital,wght@1,100&family=Merriweather:wght@900&family=Playpen+Sans&family=Roboto&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Edu+TAS+Beginner:wght@400;500&family=Inter:wght@700&family=Kalam:wght@300&family=Kanit:ital,wght@1,100&family=Merriweather:wght@900&family=Playpen+Sans&family=Roboto&family=Ubuntu&display=swap');
/* Styles for this website  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Commonly use styles  */
:root {
    --common-font-for-heading : Merriweather;
    --common-font-for-dicription : Merriweather;
    --common-text-color : #F00;
}
/* Maximam width of the webpage  */
.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}

/* This is the header section  */
header .banner {
    height: 600px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url("/resources/Banner\ Image.png");
    margin-top: 50px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner .banner-text h4 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
}

.banner .banner-text h1 {
    width: 632px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}
/* Styles for main section  */
.main-section {
    margin-top: 100px;
}
/* Styles for discount area */
.main-section .discount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-section .discount .discount-content {
    text-align: center;
}
.main-section .discount .discount-content h1 {
    color: var(--common-text-color);
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 45px;
}
.main-section .discount .discount-content h4 {
    color: var(--common-text-color);
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}
.main-section .discount .discount-content h2 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}
/* Styles for welcome area  */
.main-section .welcome {
    margin-top: 100px;
    background:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('/resources/Vectorrr.png');
    height: 600px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.welcome .welcome-text h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
    width: 642px;
    margin-bottom: 20px;
}
.welcome .welcome-text p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 697px;
    margin-bottom: 30px;
}
.welcome .welcome-text button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Styles for enrollment area  */
.main-section .enrollment {
    margin-top: 100px;
    height: 482px;
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-section .enrollment .enrollment-contents h3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
.main-section .enrollment .enrollment-contents span {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; 
    text-transform: capitalize;
}
.main-section .enrollment .enrollment-contents button {
    border: none;
    background-color: transparent;
    display: block;
    margin: 30px auto 0 auto;
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    color: white;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}
/* Styles for coming soon area  */
.main-section .coming-soon {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-section .coming-soon .coming-left h3 {
    color: #F00;
    /* text-align: center; */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal
}
.main-section .coming-soon .coming-left h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin: 20px 0;
}
.main-section .coming-soon .coming-left p {
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.main-section .coming-soon .coming-middle {
    width: 463px;
    height: 463px;
    border-radius: 50%;
    border: 15px solid #F00;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-section .coming-soon .coming-right h1 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.main-section .coming-soon .coming-right p {
    color: rgba(7, 2, 17, 0.60);
    width: 276px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin: 20px 0;
}

